$borderWidth: 5px;
$descriptionColor: rgba(169, 109, 163, 0.6);
$description-line-height: 140%;
$spinner-border-regular: solid 10px beige;
$spinner-border-mark: solid 10px black;
$overlay-bgc: wheat;
$space-bgc: rgb(7, 7, 12);
$border-color: rgba(166, 211, 160, 0.6);