* {
    margin: 0;
    padding: 0;
}

.bodies {
    position: absolute;
    object-fit: none;
}

.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 7, 12);
    overflow: hidden;
    &__sun {
        width: 30%;
        left: 50%;
        top: 20%;
        object-fit: contain;
        z-index: 1;
    }
    &__mercury {
        width: 0.5%;
        left: 70%;
        top: 51%;
        object-fit: contain;
        z-index: 2;
    }
    &__venus {
        width: 1.1%;
        left: 79%;
        top: 45%;
        object-fit: contain;
    }
    &__earth {
        width: 1.4%;
        left: 80.9%;
        top: 50%;
        object-fit: contain;
    }
    &__mars {
        width: 0.7%;
        left: 51%;
        top: 49%;
        object-fit: contain;
        z-index: 0;
    }
    &__jupiter {
        width: 23%;
        left: 9%;
        top: 26%;
        object-fit: contain;
        z-index: 1;
    }
    &__saturn {
        width: 9%;
        left: 45%;
        top: 30%;
        object-fit: contain;
        z-index: 0;
    }
    &__uranus {
        width: 12%;
        left: 80%;
        top: 50%;
        object-fit: contain;
        z-index: 2;
    }
    &__neptune {
        width: 0.5%;
        left: 80%;
        top: 34%;
        object-fit: contain;
        z-index: 0;
    }
    &__jupiter-moon1 { 
        width: 1.3%;
        left: 8%;
        top: 48%;
        object-fit: contain;
        z-index: 0;
    }
    &__jupiter-moon2 { 
        width: 1.3%;
        left: 11%;
        top: 48%;
        object-fit: contain;
        z-index: 1;
    }
    &__jupiter-moon3 { 
        width: 1.3%;
        left: 33%;
        top: 48%;
        object-fit: contain;
        z-index: 1;
    }
    &__jupiter-moon4 { 
        width: 1%;
        left: 31.5%;
        top: 48%;
        object-fit: contain;
        z-index: 0;
    }
    &__saturn-moon {
        width: 1%;
        left: 45%;
        top: 30%;
        object-fit: contain;
        z-index: 0;
    }
    &__stars--layer1 {
        z-index: 1;
        left: -15%;
        top: -15%;
    }
    &__stars--layer2 {
        z-index: 2;
        left: -10%;
        top: -10%;
    }
    &__stars--layer3 {
        z-index: 3;
        left: 0;
        top: 0;
    }
    &__stars--layer4 {
        z-index: 4;
        left: 10%;
        top: 10%;
    }
    &__stars--layer4 {
        z-index: 4;
        left: 15%;
        top: 15%;
    }
}
